.first_screen {
  background-image: url(../img/first_screen_background.png);
  padding: 100px 0;
  height: calc(100vh - 75px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.first_screen::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.55);
  top: 0;
  left: 0;
  position: absolute;
  z-index: 2;
}
.first_screen-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 -15px;
}
.first_screen-heading {
  width: 550px;
  margin: 0 15px;
}

.axit {
  font-family: "Roboto";
  font-size: 60px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 42px;
}
.axit::after {
  content: "It";
  display: inline;
  font-family: "Roboto";
  font-size: 60px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ec7979;
}
.first_screen-title {
  font-family: "Raleway";
  font-size: 36px;
  font-weight: 400;
  width: 544px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 34px;
}
.first_screen-title::after {
  content: "";
  display: inline-block;
  width: 64px;
  height: 1px;
  background-color: #fff;
}
.first_screen-description {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 300;
  width: 282px;
  margin-bottom: 40px;
}
.first_screen-link {
  cursor: pointer;
  border: 1px #c4c4c4 solid;
  width: 135px;
  padding: 11px 0;
  text-align: center;
  position: relative;
  z-index: 100;
}
.first_screen-link:hover {
  transition: 0.2s;
  background-color: rgba(146, 130, 130, 0.7);
}

.first_screen-form {
  width: 370px;
  border-radius: 8px;
  background-color: #fff;
  margin: 0 15px;
  overflow: hidden;
}
.form-title {
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 700;
  color: #333333;
  text-align: center;
  padding: 13px 0;
}
.form-title span {
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 700;
  color: #ec7979;
  text-transform: uppercase;
}
.form-content {
  padding: 36px 59px 58px;
}
.first_screen-form-item {
  margin-bottom: 19px;
}
.first_screen-form-item:last-child {
  margin-bottom: 0;
}
.form-first_screen-button {
  color: #fff;
  width: 100%;
  height: 54px;
  border: none;
  background-color: #ec7979;
  cursor: pointer;
}
.form-first_screen-button:hover {
  transition: 0.2s;
  background-color: #b85858;
}

@media (max-width: 970px) {
  .first_screen {
    height: calc(150vh - 75px);
  }
  .first_screen-wrap {
    flex-direction: column;
  }
  .first_screen-heading {
    margin: 0 auto 50px;
    text-align: center;
  }
  .first_screen-form {
    margin: auto;
  }
  .axit {
    width: 140px;
    margin: auto;
  }
  .first_screen-title {
    margin: 0 auto 34px;
  }
  .first_screen-title::after {
    margin: auto;
  }
  .first_screen-description {
    margin: 0 auto 34px;
  }
  .first_screen-link {
    margin: 0 auto 60px;
  }
}
